body {
    margin: 0;
    background-color: skyblue;
}

header {
    background-color: rgb(59, 53, 53);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: rgb(204, 194, 194);
    
    height: 5vw;
    width: 100vw;
}
#searchtext {
    font-size: 1.25rem;
}
.button {
    background-color: rgb(255, 255, 199);
}
.leftcol {
    padding-bottom: 1vw;
    background-color: skyblue;
    float: left;
}
.rowHeight{
    display: flex;
    justify-content: space-between;
    margin-top: 2vw;
    
    
}
main {
    margin-right: 0;
}


.buttons {
    margin-top: 1vw;
    height: 3vw;
    width: 20vw;
    background-color: rgb(131, 108, 46)
}

.text{
   
    font-size: 20px;
    font-weight: bold;
    margin-left: 2vw;
}

.image{
    margin-left: 9vw;
}
.space {
    display: flex;
    justify-content: center;
    align-items: center;

}

.clear {
        
        background: yellow;
        border-radius: 50%;
        height: 5vw;
        width: 5vw;
        margin: 0;
      }
