body {
    margin: 0;
    background-color: skyblue;
}

header {
    background-color: rgb(59, 53, 53);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: rgb(204, 194, 194);
    
    height: 5vw;
    width: 100vw;
}
#searchtext {
    font-size: 1.25rem;
}
.button {
    background-color: rgb(255, 255, 199);
}
.leftcol {
    padding-bottom: 1vw;
    background-color: skyblue;
}
.rowHeight{
    display: flex;
    justify-content: space-between;
    
    
}
main {
    margin-right: 0;
}


.buttons {
    margin-top: 1vw;
    height: 3vw;
    width: 25vw;
    background-color: rgb(131, 108, 46)
}
.buttons :active {
    font-size: 50px;
    font: bolder;

}
.text{
    font-size: 20px;
    font-weight: bold;
    margin-left: 2vw;
}

.image{
    margin-left: 9vw;
}